body {
  background-color: var(--bg-color);
  position: relative;
  text-align: center;
  padding: 0;
}

section {
  width: 100%;
}

a, a:focus {
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.btn, .btn:focus, a.btn, a.btn:focus {
  border-radius: 10px;
  background-color: transparent;
  border-color: var(--text-color);
  color: var(--text-color);

  i, i *, i::before, i::after {
    color: var(--text-color);
  }
}

.btn:hover, a.btn:hover {
  @extend %default-gradient;
  border-color: var(--bg-color);
  color: white;
  cursor: pointer;

  i, i *, i::before, i::after {
    color: white;
  }
}
