body {
  font-family: 'Muli', Avenir, 'Arial', sans-serif;
  color: var(--text-color);
  font-size: 16px;
}

p, p span, p em, li {
  // required for smooth theme transition
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-weight: bold;

  span {
    // required for smooth theme transition
    color: var(--text-color);
  }
}

h1 {
  text-shadow: -2px 2px 3px var(--shadow-color);
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}