html {
  // constants
  --dark-color: #{$gray-30};
  --light-color: #{$off-white};
  --shadow-color: #{transparentize($gray-18, 0.85)};

  // themed variables
  --bg-color: #{white};
  --bg-band-color: #{$off-white};
  --card-bg-color: #{$gray-235};
  --primary-color: #{$blue-lt};
  --secondary-color: #{$purple-lt};
  --accent-color: #{$blurple-lt};
  --text-color: #{$gray-30};
  --footer-bg-color: #{transparentize($blurple-lt, 0.25)};
  --footer-text-color: #{$off-white};

  %default-gradient {
    @include gradient($bottom: $purple-lt, $top: $blue-lt, $fallback: $blurple-lt);
  }
}

html[data-theme='dark'] {
  // themed variables
  --bg-color: #{$gray-30};
  --bg-band-color: #{$gray-18};
  --card-bg-color: #{$gray-45};
  --primary-color: #{$purple-dt};
  --secondary-color: #{$pink-dt};
  --accent-color: #{$blue-dt};
  --text-color: #{$off-white};
  --footer-bg-color: #{transparentize($purple-dt, 0.25)};
  --footer-text-color: #{$off-white};

  %default-gradient {
    @include gradient($bottom: $pink-dt, $top: $purple-dt, $fallback: $pink-dt);
  }
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 1000ms !important; // keep in sync with transition timeout in Theme.js
  transition-delay: 0ms !important;
}