html {
  // constants
  --dark-color: #{$gray-30};
  --light-color: #{$off-white};
  --shadow-color: #{transparentize($gray-18, 0.85)};

  // themed variables
  --bg-color: #{white};
  --bg-band-color: #{$off-white};
  --card-bg-color: #{$gray-235};
  --primary-color: #{$light-blue-lt};
  --secondary-color: #{$dark-blue-lt};
  --accent-color: #{$blue-lt};
  --text-color: #{$gray-30};
  --footer-bg-color: #{transparentize($dark-blue-lt, 0.05)};
  --footer-text-color: #{$off-white};

  %default-gradient {
    @include gradient($bottom: $light-blue-lt, $top: $dark-blue-lt, $fallback: $blue-lt);
  }
}

html[data-theme='dark'] {
  // themed variables
  --bg-color: #{$gray-30};
  --bg-band-color: #{$gray-18};
  --card-bg-color: #{$gray-45};
  --primary-color: #{$blue-dt};
  --secondary-color: #{$green-dt};
  --accent-color: #{$light-blue-dt};
  --text-color: #{$off-white};
  --footer-bg-color: #{transparentize($blue-dt, 0.05)};
  --footer-text-color: #{$off-white};

  %default-gradient {
    @include gradient($bottom: $blue-dt, $top: $green-dt, $fallback: $blue-dt);
  }
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 1000ms !important; // keep in sync with transition timeout in Theme.js
  transition-delay: 0ms !important;
}