// colors
$blue: rgb(93, 194, 254);
$dark-blue: rgb(0, 55, 111);
$purple: rgb(126, 53, 230);
$dark-navy: rgb(29, 36, 46);
$gray-32: rgb(32, 32, 32);
$gray-60: rgb(60, 60, 60);
$gray-115: rgb(115, 115, 115);
$gray-210: rgb(210, 210, 210);
$off-white: rgb(250, 250, 250);

// padding
$padding-lg: 40px;
$padding-md: 20px;
$padding-sm: 10px;
$padding-xs: 5px;