// colors
$blue-dt: rgb(60, 145, 247);
$blue-lt: rgb(12, 118, 247);
$blurple-lt: rgb(79, 76, 246);
$purple-dt: rgb(157, 66, 246);
$purple-lt: rgb(141, 37, 245);
$pink-dt: rgb(235, 79, 138);
$pink-lt: rgb(209, 52, 131);
$gray-18: rgb(18, 18, 18);
$gray-30: rgb(30, 30, 30);
$gray-45: rgb(45, 45, 45);
$gray-235: rgb(235, 235, 235);
$off-white: rgb(248, 248, 248);