$gray-18: rgb(18, 18, 18);
$gray-30: rgb(30, 30, 30);
$gray-45: rgb(45, 45, 45);
$gray-235: rgb(235, 235, 235);
$off-white: rgb(248, 248, 248);

$blue-dt: rgb(37, 157, 226);
$light-blue-dt: rgb(93, 239, 252);
$green-dt: rgb(6, 205, 111);

$light-blue-lt: rgb(77, 213, 219);
$dark-blue-lt: rgb(0, 121, 235);
$blue-lt: rgb(36, 198, 254);