.section-header {
  margin-bottom: $padding-lg;
  display: inline-block;

  hr {
    margin-top: 6px;
    //width: 70px;
    width: 80%;
    height: 2px;
    border-radius: 2px;
  }
}

.btn, .btn:focus, .btn:hover {
  min-height: $min-button-height;
  min-width: $min-button-width;
  border-radius: $button-radius;
  background-color: transparent;
  border-color: var(--button);
  color: var(--button);
}

.mouse-mode .btn:hover {
  @extend %default-gradient;
  color: var(--button-hover-text);
  border-color: var(--bg);
  cursor: pointer;
}

.theme-toggle {
  z-index: 1020;
  position: fixed;
  right: 20px;
  bottom: 20px;

  input {
    display: none;
  }

  label, label:focus, .touch-mode & label:hover {
    font-size: 24px;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    border: solid;
    border-width: thin;
    border-color: var(--toggle-bg);
    border-radius: 100%;
    background: transparent;
    opacity: 0.65;
    cursor: pointer;
  }

  .mouse-mode & label:hover {
    background-color: var(--toggle-bg);
    opacity: 1;
  }

  label::before {
    content: '\1F319';
  }

  :checked + label::before {
    content: '\1F324';
  }
}