@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap');

// ----------------------------------------
// variables

// colors
$blue: rgb(90, 182, 252, 1);
$trans-blue: rgb(90, 182, 252, 0.3); // FIXME : needed?
$dark-blue: rgb(0, 78, 144, 1);
$purple: rgb(134, 54, 230, 1);
$pink: rgb(255, 129, 250, 1);
$cool-dark-gray: rgb(40, 47, 55, 1);
$lighter-cool-dark-gray: rgb(32, 38, 48, 1);
$dark-navy: rgb(29, 36, 46, 1);
$gray-32: rgb(32, 32, 32, 1);
$gray-60: rgb(60, 60, 60, 1);
$gray-130: rgb(130, 130, 130, 1);
$gray-200: rgb(200, 200, 200, 1);
$gray-247: rgb(247, 247, 247, 1);

// other
$font-size: 16px;
$font-size-sm: 14px;
$corner-radius: 5px;
$section-padding: 50px;

// ----------------------------------------
// themes

html {
  --bg: #{white};
  --home-text: #{white};
  --home-button: #{white};
  --head-foot-bg: #{$gray-60};
  --head-foot-text: #{white};
  --head-foot-hover: #{$blue};
  --header: #{$gray-60};
  --text: #{$gray-130};
  --hr: #{$blue};
  --band-bg: #{$gray-247};
  --button: #{$blue};
  --skill-bar-full: #{$blue};
  --skill-bar-empty: #{$trans-blue};
  --project-button: #{$gray-60};
  --link: #{$blue};
  --link-hover: #{$pink};
}

html[data-theme='dark'] {
  --bg: #{$dark-navy};
  --home-text: #{white};
  --home-button: #{white};
  --head-foot-bg: #{$dark-blue};
  --head-foot-text: #{white};
  --head-foot-hover: #{$blue};
  --header: #{white};
  --text: #{$gray-200};
  --hr: #{$blue};
  --band-bg: #{$lighter-cool-dark-gray};
  --button: #{$blue};
  --skill-bar-full: #{$blue};
  --skill-bar-empty: #{$trans-blue};
  --project-button: #{white};
  --link: #{$blue};
  --link-hover: #{$pink};
}

// ----------------------------------------
// inheritable classes

%gradient {
  background: $purple;
  background: linear-gradient(45deg, $purple 0%, $blue 100%);
}

%section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

%banded-section {
  @extend %section;
  background-color: var(--band-bg);
}

// ----------------------------------------
// styles

body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: $font-size;
  background-color: var(--bg);
  color: var(--text);
}

.navbar-default {
  $fade-size: 20%;
  $margin-size: 20px;

  background-color: var(--head-foot-bg);
  border-bottom: 2px solid var(--head-foot-hover);

  .navbar-nav {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .navbar-nav > li {
    margin-left: $margin-size;
    display: inline-block;

    &.active > a {
      color: var(--head-foot-hover);
      font-weight: bold;
    }

    & > a, a:focus {
      color: var(--head-foot-text);
    }

    .touch-mode & > a:hover {
      color: var(--head-foot-text);
    }

    .mouse-mode & > a:hover {
      color: var(--head-foot-hover);
    }

    .fade-spacer {
      // FIXME : this is hacky
      width: $margin-size * 3;
      height: $font-size;
    }
  }

  .navbar-fade {
    z-index: 1;
    position: absolute;
    right: 0;
    background: transparent;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0%, var(--head-foot-bg) 100%);
    width: $fade-size;
    height: $font-size * 2;
  }
}

.section-home {
  @extend %section;
  @extend %gradient;

  padding: $section-padding;

  h1 {
    font-weight: normal;
    text-shadow: -2px 2px 3px rgb(32, 32, 32, 0.1);
    color: var(--home-text);
  }
}

.section-about {
  @extend %section;

  img {
    width: 128px;
    height: auto;
  }
}

.section-education {
  @extend %banded-section;
}

.section-experience {
  @extend %section;
}

.section-skills {
  @extend %banded-section;
}

.section-projects {
  @extend %section;
}

.section-contact {
  padding-top: $section-padding;

  background-color: var(--head-foot-bg);
  color: var(--head-foot-text);

  h1 {
    color: var(--head-foot-text);
  }

  .copyright {
    margin-top: $section-padding;
    font-size: $font-size-sm;
  }
}

.section-header {
  margin-bottom: $section-padding;

  hr {
    margin-top: 5px;
    max-width: 50px;
    background-color: var(--hr);
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--header);
}

a, a:focus, .touch-mode a:hover {
  color: var(--link);
  text-decoration: none;
}

.mouse-mode a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

.theme-selector {
  position: fixed;
  right: 20px;
  bottom: 20px;

  input {
    display: none;
  }

  label, label:focus, .touch-mode & label:hover {
    font-size: 24px;
    padding-left: 6px;
    padding-right: 6px;
    display: block;
    border: solid;
    border-width: thin;
    border-color: var(--bg-button);
    border-radius: 20px;
    background-color: var(--bg);
    opacity: 0.65;
    cursor: pointer;
  }

  .mouse-mode & label:hover {
    background-color: var(--bg-button);
    opacity: 1;
  }

  label::before {
    content: '\1F319';
  }

  :checked + label::before {
    content: '\1F324';
  }
}