/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

/* COLORS */

.white {
	color: #FFFFFF;
}

.white-bkg {
	background-color: #FFFFFF;
}

.light-gray {
	color: #A1A1A1;
}

.light-gray-bkg {
	background-color: #A1A1A1;
}

.dark-gray {
	color: #303030;
}

.dark-gray-bkg {
	background-color: #303030;
}

.black {
	color: #000000;
}

.black-bkg {
	background-color: #000000;
}

.main-color {
	color: #A9D3E3;
}

.main-color-bkg {
	background-color: #A9D3E3;
}

.accent-color {
	color: #6468BF; /* NOTE : hard coded in a:hover */
}

.accent-color-bkg {
	background-color: #6468BF; /* NOTE : hard coded in a:hover */
}

/* WHOLE PAGE */

body {
	font-family: 'Poppins', sans-serif;
}

/* HEADER */

.header {
	width: 100%;
	height: auto;
	/* position: fixed;
	left: 0;
	top: 0; */
}

img.header-logo {
	width: auto;
	height: 50px;
}

ul.nav-bar {
	list-style-type: none;
	font-size: 16px;
  margin: 0px;
	padding: 0px;
}

li.nav-item {
	display: inline;
	margin-right: 30px;
}

li.active {
	border-bottom: 2px solid currentColor;
}

li.nav-item-social {
	display: inline;
	margin-left: 20px;
}

img.social-icon {
	height: 20px;
	width: auto;
}

/* FOOTER */

.footer {
	width: 100%;
	height: auto;
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 12px;
}

/* CONTENT */

/* TODO : impl as needed */

/* GENERIC */

.fill-width {
	width: 100%;
}

.fill-height {
	height: 100%;
}

.fill-parent {
	width: 100%;
	height: 100%;
}

a, a:focus {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #6468BF;
	text-decoration: none;
}