body {
  background-color: var(--bg);
  position: relative;
  text-align: center;
}

section {
  @include py($padding: $padding-lg);

  &.banded {
    background-color: var(--band-bg);
  }

  &.head-foot {
    @extend %head-foot;
  }
}

hr {
  background-color: var(--hr);
  height: 1px;
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: underline;
}

.mouse-mode a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

.fill-width { // fixme get rid of this
  width: 100%;
}