#contact {
  @include px($padding: $padding-lg);
  padding-bottom: $padding-sm;

  hr {
    background-color: var(--head-foot-hover);
  }

  .row {
    width: 100%;
    justify-content: center;
    vertical-align: center;
    margin: 0;
  }

  a {
    color: var(--head-foot-text);

    .mouse-mode &:hover {
      color: var(--link-hover);
    }
  }

  $social-icon-size: 36px;

  .fa-envelope {
    @include mx($margin: $padding-xs);
    @include my($margin: auto);
    font-size: $social-icon-size / 2;
    color: var(--head-foot-text);
  }

  .socials .fab {
    @include mx($margin: $padding-xs);
    font-size: $social-icon-size;
    color: var(--head-foot-text);

    .mouse-mode &:hover {
      color: var(--link-hover);
    }
  }

  .socials, .copyright {
    margin-top: $padding-lg;
  }

  .copyright {
    font-size: 14px;
  }
}