#education {
  .school-header {
    text-align: left;
    margin-bottom: $padding-sm;

    span.location {
      font-weight: normal;
      white-space: nowrap;
    }

    span.grad-date {
      white-space: nowrap;
    }
  }

  .btn-col {
    padding: 0;
    direction: rtl;
    margin-bottom: $padding-sm;
  }

  .school-display {
    margin-top: $padding-sm;

    &:first-child {
      margin-top: 0;
    }
  }

  .details {
    @include mx(15px); // consistency with BS columns
    width: 100%;
    text-align: left;
  }

  .details-enter-active, .details-leave-active {
    transition: opacity .5s;
  }

  .details-enter, .details-leave-to {
    opacity: 0;
  }

  table {
    tr.title-row td {
      padding-bottom: 0;
    }

    td {
      padding-bottom: 15px;
      vertical-align: top;

      &.gpa {
        white-space: nowrap;
        text-align: right;
      }

      &.category {
        padding-right: 10px;

        em {
          color: var(--text);
        }
      }
    }
  }

  ul.course-list {
    padding: 0;
    display: inline-block;
    list-style: none;

    li {
      display: inline;
      color: var(--text);

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}