#experience {
  .company-display {
    text-align: left;

    [class^="col"] {
      vertical-align: top;

      &:last-child {
        text-align: right;

        p {
          margin-top: 8px;
          margin-bottom: 0;
        }
      }

      h5 {
        margin-bottom: 0;
      }

      h5.title {
        font-weight: normal;
        font-style: italic;
        margin-top: 8px;
      }
    }

    @media (max-width: 767px) {
      [class^="col"]:last-child {
        text-align: left;
      }
    }

    hr {
      @include my($margin: 32px);
      width: 80%;
      opacity: 0.5;
    }

    ul {
      margin-top: 8px;
    }

    &:first-child {
      margin-top: 0;

      hr {
        display: none;
      }
    }

    span.nowrap {
      white-space: nowrap;
    }
  }

  .btn {
    margin-top: 16px;
  }
}