#experience {
  h5, p {
    margin: 0;
    padding: 0;
  }

  .experience-content > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .company-display {
    text-align: left;

    [class^="col"] {
      vertical-align: top;

      &:last-child {
        text-align: right;
      }

      h5.title {
        font-weight: normal;
      }
    }

    .position-details {
      margin-top: 16px;
    }

    @media (max-width: 767px) {
      .position-headline [class^="col"]:last-child {
        text-align: left;

        p {
          margin-top: 4px;
        }
      }

      .company-headline > [class^="col"] {
        text-align: center;
      }
    }

    hr {
      @include my($margin: 32px);
      width: 80%;
      opacity: 0.5;
    }

    ul.bullets {
      list-style-type: disc;
      margin-top: 8px;

      li {
        color: var(--text);
      }
    }

    &:first-child {
      margin-top: 0;

      hr {
        display: none;
      }
    }

    span.nowrap {
      white-space: nowrap;
    }
  }

  .companies-enter-active, .companies-leave-active {
    transition: all 1s;
  }

  .companies-enter {
    opacity: 0;
    transform: translateX(-20px);
  }

  .companies-leave-to {
    opacity: 0;
    transform: translateX(20px);
  }

  .companies-move {
    transition: transform 1s;
  }

  .btn {
    margin-top: 16px;
  }
}