#home {
  @include py($padding: $padding-lg);
  background-color: var(--bg);
  height: 100vh;
  vertical-align: middle;
  display: table-cell;
  width: 100vw;
  text-align: center;

  .home-content {
    img.decal {
      position: absolute;
      opacity: 0.08;

      &.top-left {
        left: 0;
        top: 3vh;
        height: 12vh;
        width: auto;
      }

      &.top-right {
        top: 0;
        right: 12vw;
        height: auto;
        width: 20vh;
      }

      &.bottom-left {
        left: 0;
        top: 78vh;
        height: 15vh;
        width: auto;
      }
    }

    .home-text {
      @include fadein($duration: 1s, $delay: 250ms);
      opacity: 0;

      h1 {
        @extend %default-gradient;
        @include mx($margin: $padding-sm);
        background-color: var(--button);
        margin-bottom: 0;
        font-weight: normal;
        text-shadow: -2px 2px 3px var(--home-text-shadow);
        -webkit-background-clip: text;
        font-size: 6vh;

        strong {
          white-space: nowrap;
          -webkit-text-fill-color: transparent;
        }
      }

      .btn {
        margin-top: $padding-lg;
      }
    }
  }
}