#home {
  @include py($padding: $padding-lg);
  background-color: var(--bg);
  height: 100vh;
  vertical-align: middle;
  display: table-cell;
  width: 100vw;
  text-align: center;

  h1 {
    @extend %fadein;
    @extend %default-gradient;
    @include mx($margin: $padding-sm);
    background-color: var(--button);
    margin-bottom: 0;
    font-weight: normal;
    text-shadow: -2px 2px 3px var(--home-text-shadow);
    -webkit-background-clip: text;
    font-size: 6vh;

    strong {
      white-space: nowrap;
      -webkit-text-fill-color: transparent;
    }
  }

  .btn {
    @extend %fadein;
    margin-top: $padding-lg;
  }
}