nav {
  .collapsing {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  &.navbar-default {
    @extend %head-foot;

    .fas {
      color: var(--head-foot-text);
    }
  }

  ul.navbar-nav {
    overflow-y: hidden;
    white-space: nowrap;
  }

  ul > li {
    margin-left: $padding-sm * 0.6;
    display: inline-block;
    vertical-align: center;

    a.nav-link {
      @include py($padding: 4px);
      background-color: transparent;
    }

    a, a:focus, a:hover {
      color: var(--head-foot-text);
      text-decoration: none;
    }

    .mouse-mode & a:hover {
      color: var(--head-foot-hover);
    }

    & > a.active {
      color: var(--head-foot-hover);
      font-weight: bold;
      left: 20px;
    }
  }
}