nav {
  &.navbar-default {
    @extend %head-foot;
    padding: 0;
  }

  ul.navbar-nav {
    overflow-y: hidden;
    white-space: nowrap;
    padding: 8px;
    width: 100%;

    $shadow-color: var(--head-foot-hover);
    background-image:
            linear-gradient(to right, var(--head-foot-bg) 8%, var(--head-foot-bg-trans) 20%, var(--head-foot-bg-trans) 80%, var(--head-foot-bg) 92%),
            linear-gradient(to right, var(--navbar-fade), var(--navbar-fade-trans) 15%, var(--navbar-fade-trans) 85%, var(--navbar-fade));
    background-attachment: local, scroll;
  }

  ul > li {
    margin-left: $padding-sm * 0.75;
    display: inline-block;
    vertical-align: center;

    a.nav-link {
      @include py($padding: 4px);
    }

    a, a:focus, a:hover {
      color: var(--head-foot-text)
    }

    .mouse-mode & a:hover {
      color: var(--head-foot-hover);
    }

    & > a.active {
      color: var(--head-foot-hover);
      font-weight: bold;
      left: 20px;
    }
  }
}