.navbar-default {
  @extend %head-foot;
  border-bottom: 1px solid var(--head-foot-hover);

  $fade-size: 20%;

  .navbar-nav {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    //overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .navbar-nav > li {
    margin-left: $padding-sm;
    display: inline-block;

    .active, .touch-mode & > a:hover.active {
      color: var(--head-foot-hover);
      font-weight: bold;
    }

    & > a {
      color: var(--head-foot-text);
    }

    .mouse-mode & > a:hover {
      color: var(--head-foot-hover);
    }

    .touch-mode & > a:hover {
      color: var(--head-foot-text);
    }

    .fade-spacer {
      // FIXME : this is hacky
      width: $padding-sm * 3;
      height: 16px;
    }
  }

  .navbar-fade {
    z-index: 1;
    position: absolute;
    right: 0;
    background: transparent;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0%, var(--head-foot-bg) 100%);
    width: $fade-size;
    height: 32px;
  }
}