#projects {
  .projects-content {
    width: 100%;
  }

  .project-buttons {
    margin-bottom: $padding-lg;

    .btn {
      @include mx($margin: $padding-sm / 2);
      min-width: 0;

      &.selected {
        @extend %default-gradient;
        color: var(--button-hover-text);
        border-color: var(--bg);
        pointer-events: none;
      }
    }
  }

  .project-cards {
    //a.btn {
    //  font-size: 14px;
    //  min-height: $min-button-height * 0.8;
    //  min-width: $min-button-width * 0.8;
    //  margin-right: 0;
    //}
    //
    //a.btn, a.btn:focus, .touch-mode & a.btn:hover {
    //  color: var(--link);
    //  border-color: var(--link);
    //}
    //
    //.mouse-mode & a.btn:hover {
    //  color: var(--bg);
    //  border-color: var(--bg);
    //  @include gradient($bottom: var(--link), $top: var(--link-hover), $fallback: var(--link));
    //  //background-color: var(--link);
    //}

    [class^="col"] {
      padding: 0;
    }
  }

  .project-card-outline {
    @extend %default-gradient;
    margin: $padding-sm / 2;
    border-radius: $project-card-radius + 2;
    padding: 2px;
  }

  .project-card {
    background-color: var(--bg);
    border-radius: $project-card-radius;
    padding: $padding-sm;

    .timespan {
      font-weight: normal;
    }
  }
}