#projects {
  .projects-content {
    width: 100%;
  }

  .project-buttons {
    margin-bottom: $padding-lg;

    .btn {
      @include mx($margin: $padding-sm / 2);
      min-width: 0;

      &.selected {
        @extend %default-gradient;
        color: var(--button-hover-text);
        border-color: var(--bg);
        pointer-events: none;
      }
    }
  }

  .project-cards {
    [class^="col"] {
      padding: 0;
    }
  }

  .project-card-outline {
    @extend %default-gradient;
    margin: $padding-sm / 2;
    border-radius: $project-card-radius + 2;
    padding: 2px;
  }

  .project-card {
    background-color: var(--bg);
    border-radius: $project-card-radius;
    padding: $padding-sm;

    table {
      text-align: left;

      td {
        vertical-align: top;

        &.title {
          white-space: nowrap;
          padding-right: $padding-xs;
        }

        &.timespan {
          text-align: right;
          width: 100%;

          h6 {
            font-weight: normal;
          }
        }
      }

      .row {
        text-align: right;
        direction: rtl;

        .btn {
          @include mx($margin: $padding-sm / 2);
          margin-top: $padding-xs / 2;
        }
      }
    }
  }
}