%default-gradient {
  @include gradient($purple, $blue, var(--bg));
}

%head-foot {
  background-color: var(--head-foot-bg);
  color: var(--head-foot-text);
  opacity: 95%;

  h1 {
    color: var(--head-foot-text);
  }
}

%fadein {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}