// colors
$blue: rgb(90, 182, 252, 1);
$dark-blue: rgb(0, 78, 144, 1);
$light-purple: rgb(166, 136, 230);
$purple: rgb(126, 53, 230);
$light-pink: rgb(255, 190, 241);
$pink: rgb(255, 129, 250, 1);
$cool-dark-gray: rgb(42, 49, 57, 1);
$lighter-cool-dark-gray: rgb(32, 38, 48, 1);
$dark-navy: rgb(29, 36, 46, 1);
$gray-32: rgb(32, 32, 32, 1);
$gray-60: rgb(60, 60, 60, 1);
$gray-135: rgb(135, 135, 135, 1);
$gray-200: rgb(200, 200, 200, 1);
$gray-247: rgb(247, 247, 247, 1);

// other
$font-size-sm: 14px;
$button-radius: 10px;
$project-card-radius: 20px;
$padding-lg: 50px;
$padding-sm: 20px;
$padding-xs: 16px;
$min-button-height: 40px;
$min-button-width: 128px;