/*
    This styling is based off of the code found here:
    https://webdesign.tutsplus.com/tutorials/how-to-customize-bootstraps-4-accordion-component--cms-32510
*/

.myaccordion {
    margin: 50px auto;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
    border: none;
    margin-bottom: 5px;
}

.myaccordion .card-header {
    border-bottom-color: #FFFFFF;
    background-color: #F0F3F7; /* HARD CODED COOL LIGHT GRAY */
}

.myaccordion .fa-stack {
    font-size: 18px;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
    text-decoration: none;
}

.myaccordion li + li {
    margin-top: 10px;
}