@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap");
html {
  --bg: white;
  --home-text: white;
  --home-text-shadow: rgba(32, 32, 32, 0.1);
  --home-button: white;
  --head-foot-bg: #5ab6fc;
  --head-foot-text: white;
  --head-foot-hover: #004e90;
  --header: #3c3c3c;
  --text: #878787;
  --hr: #5ab6fc;
  --band-bg: #f7f7f7;
  --button: #5ab6fc;
  --button-hover-text: white;
  --skill-bar: #5ab6fc;
  --project-button: #004e90;
  --project-card-bg: white;
  --link: #004e90;
  --link-hover: #8636e6;
  --toggle-bg: #004e90;
}

html[data-theme=dark] {
  --bg: #1d242e;
  --home-text: white;
  --home-text-shadow: rgba(32, 32, 32, 0.1);
  --home-button: white;
  --head-foot-bg: #004e90;
  --head-foot-text: white;
  --head-foot-hover: #5ab6fc;
  --header: white;
  --text: #c8c8c8;
  --hr: #5ab6fc;
  --band-bg: #202630;
  --button: #5ab6fc;
  --button-hover-text: white;
  --skill-bar: #5ab6fc;
  --project-button: #5ab6fc;
  --project-card-bg: #1d242e;
  --link: #5ab6fc;
  --link-hover: #ff81fa;
  --toggle-bg: #5ab6fc;
}

#projects .project-card-outline, #home, .mouse-mode div.btn:hover, div.btn.selected {
  background-color: var(--bg);
  background-image: linear-gradient(45deg, #8636e6 0%, #5ab6fc 100%);
}

.navbar-default, section.head-foot {
  background-color: var(--head-foot-bg);
  color: var(--head-foot-text);
}
.navbar-default h1, section.head-foot h1 {
  color: var(--head-foot-text);
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--header);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

body {
  background-color: var(--bg);
  position: relative;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
section.banded {
  background-color: var(--band-bg);
}
hr {
  background-color: var(--hr);
  height: 1px;
  border: 0;
}

a, a:focus, a:hover {
  color: var(--link);
  text-decoration: none;
}

.mouse-mode a:hover {
  color: var(--link-hover);
}

.fill-width {
  width: 100%;
}

.section-header {
  margin-bottom: 50px;
}
.section-header hr {
  margin-top: 6px;
  width: 65px;
  height: 3px;
  border-radius: 2px;
}

.btn, .btn:focus, .btn:hover {
  border-radius: 10px;
  min-height: 40px;
  min-width: 128px;
}

.mouse-mode .btn:hover {
  cursor: pointer;
}

div.btn, div.btn:focus, div.btn:hover {
  color: var(--button);
  border-color: var(--button);
}

.mouse-mode div.btn:hover, div.btn.selected {
  color: var(--button-hover-text);
  border-style: hidden;
}

div.btn.selected {
  pointer-events: none;
}
.touch-mode div.btn.selected {
  color: var(--button-hover-text);
}

.theme-selector {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.theme-selector input {
  display: none;
}
.theme-selector label, .theme-selector label:focus, .touch-mode .theme-selector label:hover {
  font-size: 24px;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  border: solid;
  border-width: thin;
  border-color: var(--toggle-bg);
  border-radius: 20px;
  background: transparent;
  opacity: 0.65;
  cursor: pointer;
}
.mouse-mode .theme-selector label:hover {
  background-color: var(--toggle-bg);
  opacity: 1;
}
.theme-selector label::before {
  content: "🌙";
}
.theme-selector :checked + label::before {
  content: "🌤";
}

#about img {
  min-width: 45%;
  max-width: 196px;
  height: auto;
}

#contact {
  padding: 50px 50px 20px 50px;
}
#contact hr {
  background-color: var(--head-foot-hover);
}
#contact table {
  width: auto;
}
#contact table td.icon {
  padding-left: 16px;
  padding-right: 16px;
}
#contact .email-icon {
  height: 14px;
  width: auto;
}
#contact .social-icon {
  height: 28px;
  width: auto;
}
#contact .socials, #contact .copyright {
  margin-top: 50px;
}
#contact .copyright {
  font-size: 14px;
}

#education .school-header {
  text-align: left;
  margin-bottom: 20px;
}
#education .school-header span.location {
  font-weight: normal;
  white-space: nowrap;
}
#education .school-header span.grad-date {
  white-space: nowrap;
}
#education .btn-col {
  padding: 0;
  direction: rtl;
  margin-bottom: 20px;
}
#education .school-display {
  margin-top: 20px;
}
#education .school-display:first-child {
  margin-top: 0;
}
#education .details {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  text-align: left;
}
#education .details-enter-active, #education .details-leave-active {
  transition: opacity 0.5s;
}
#education .details-enter, #education .details-leave-to {
  opacity: 0;
}
#education table tr.title-row td {
  padding-bottom: 0;
}
#education table td {
  padding-bottom: 15px;
  vertical-align: top;
}
#education table td.gpa {
  white-space: nowrap;
  text-align: right;
}
#education table td.category {
  font-style: italic;
  padding-right: 10px;
}
#education ul.course-list {
  padding: 0;
  display: inline-block;
  list-style: none;
}
#education ul.course-list li {
  display: inline;
}
#education ul.course-list li:after {
  content: ", ";
}
#education ul.course-list li:last-child:after {
  content: "";
}

#experience .company-display {
  text-align: left;
}
#experience .company-display [class^=col]:last-child {
  text-align: right;
}
#experience .company-display [class^=col]:last-child h5 {
  font-weight: normal;
}
@media (max-width: 767px) {
  #experience .company-display [class^=col]:last-child {
    text-align: left;
  }
}
#experience .company-display hr {
  margin-top: 16px;
  margin-bottom: 32px;
  width: 80%;
  opacity: 0.5;
}
#experience .company-display:first-child {
  margin-top: 0;
}
#experience .company-display:first-child hr {
  display: none;
}
#experience .company-display table {
  width: 100%;
}
#experience .company-display table td {
  vertical-align: top;
}
#experience .company-display table td.company, #experience .company-display table td.title {
  text-align: left;
  padding-right: 20px;
}
#experience .company-display table td.title {
  white-space: nowrap;
}
#experience .company-display table td.location, #experience .company-display table td.date {
  white-space: initial;
  width: auto;
  max-width: 50%;
  text-align: right;
}
#experience .company-display table td.location h5 {
  font-weight: normal;
  white-space: nowrap;
}
#experience .company-display table span.nowrap {
  white-space: nowrap;
}
#experience .btn {
  margin-top: 16px;
}

#home h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: normal;
  text-shadow: -2px 2px 3px var(--home-text-shadow);
  color: var(--home-text);
}
#home h1 strong {
  white-space: nowrap;
}

.navbar-default {
  border-bottom: 1px solid var(--head-foot-hover);
}
.navbar-default .navbar-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
}
.navbar-default .navbar-nav::-webkit-scrollbar {
  display: none;
}
.navbar-default .navbar-nav > li {
  margin-left: 20px;
  display: inline-block;
}
.navbar-default .navbar-nav > li .active, .touch-mode .navbar-default .navbar-nav > li > a:hover.active {
  color: var(--head-foot-hover);
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
  color: var(--head-foot-text);
}
.mouse-mode .navbar-default .navbar-nav > li > a:hover {
  color: var(--head-foot-hover);
}
.touch-mode .navbar-default .navbar-nav > li > a:hover {
  color: var(--head-foot-text);
}
.navbar-default .navbar-nav > li .fade-spacer {
  width: 60px;
  height: 16px;
}
.navbar-default .navbar-fade {
  z-index: 1;
  position: absolute;
  right: 0;
  background: transparent;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--head-foot-bg) 100%);
  width: 20%;
  height: 32px;
}

#projects .project-buttons {
  margin-bottom: 50px;
}
#projects .project-cards a.btn {
  margin-right: 0;
}
#projects .project-cards a.btn, #projects .project-cards a.btn:focus, .touch-mode #projects .project-cards a.btn:hover {
  color: var(--project-button);
  border-color: var(--project-button);
}
.mouse-mode #projects .project-cards a.btn:hover {
  background-color: var(--project-button);
  color: var(--project-card-bg);
}
#projects .project-card-outline {
  border-radius: 22px;
  padding: 2px;
  margin: 10px;
}
#projects .project-card {
  background-color: var(--project-card-bg);
  border-radius: 20px;
  padding: 20px;
}
#projects .project-card .timespan {
  font-weight: normal;
}
#projects .btn {
  margin-left: 10px;
  margin-right: 10px;
}

#skills .skills-content {
  text-align: left;
  width: 100%;
}
#skills table {
  width: 100%;
}
#skills table td.rating {
  width: 50%;
}
#skills .skill-bar {
  justify-content: flex-end;
  width: 100%;
}
#skills .skill-bar .skill-cell {
  width: 15%;
  min-height: 24px;
  background-color: var(--skill-bar);
  margin-right: 2px;
  opacity: 0.3;
}
#skills .skill-bar .skill-cell:first-child {
  border-radius: 10px 0 0 10px;
}
#skills .skill-bar .skill-cell:last-child {
  margin-right: 0;
  border-radius: 0 10px 10px 0;
}
#skills .skill-bar .full {
  opacity: 1;
}
#skills .category-view h5.category-title {
  color: var(--skill-bar);
  margin-bottom: 25px;
  margin-top: 50px;
}
#skills .category-view:first-child h5.category-title {
  margin-top: 0;
}
#skills p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
