@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap");
html {
  --bg: white;
  --home-text: white;
  --home-button: white;
  --head-foot-bg: #3c3c3c;
  --head-foot-text: white;
  --head-foot-hover: #5ab6fc;
  --header: #3c3c3c;
  --text: #828282;
  --hr: #5ab6fc;
  --band-bg: #f7f7f7;
  --button: #5ab6fc;
  --button-hover-text: white;
  --skill-bar-full: #5ab6fc;
  --skill-bar-empty: rgba(90, 182, 252, 0.3);
  --project-button: #3c3c3c;
  --project-card-bg: white;
  --link: #5ab6fc;
  --link-hover: #ff81fa;
  --toggle-bg: #828282;
}

html[data-theme=dark] {
  --bg: #1d242e;
  --home-text: white;
  --home-button: white;
  --head-foot-bg: #004e90;
  --head-foot-text: white;
  --head-foot-hover: #5ab6fc;
  --header: white;
  --text: #c8c8c8;
  --hr: #5ab6fc;
  --band-bg: #202630;
  --button: #5ab6fc;
  --button-hover-text: white;
  --skill-bar-full: #5ab6fc;
  --skill-bar-empty: rgba(90, 182, 252, 0.3);
  --project-button: white;
  --project-card-bg: #1d242e;
  --link: #5ab6fc;
  --link-hover: #ff81fa;
  --toggle-bg: #c8c8c8;
}

.mouse-mode div.btn:hover, div.btn.selected, .section-projects .project-card-outline, .section-home {
  background: #8636e6;
  background: linear-gradient(45deg, #8636e6 0%, #5ab6fc 100%);
}

.section-projects, .section-experience, .section-about, .section-home, .section-skills, .section-education {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-skills, .section-education {
  background-color: var(--band-bg);
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--text);
}

.navbar-default {
  background-color: var(--head-foot-bg);
  border-bottom: 2px solid var(--head-foot-hover);
}
.navbar-default .navbar-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
}
.navbar-default .navbar-nav::-webkit-scrollbar {
  display: none;
}
.navbar-default .navbar-nav > li {
  margin-left: 20px;
  display: inline-block;
}
.navbar-default .navbar-nav > li.active > a {
  color: var(--head-foot-hover);
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li a:focus {
  color: var(--head-foot-text);
}
.touch-mode .navbar-default .navbar-nav > li > a:hover {
  color: var(--head-foot-text);
}
.mouse-mode .navbar-default .navbar-nav > li > a:hover {
  color: var(--head-foot-hover);
}
.navbar-default .navbar-nav > li .fade-spacer {
  width: 60px;
  height: 16px;
}
.navbar-default .navbar-fade {
  z-index: 1;
  position: absolute;
  right: 0;
  background: transparent;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--head-foot-bg) 100%);
  width: 20%;
  height: 32px;
}

.section-home {
  padding: 50px;
}
.section-home h1 {
  font-weight: normal;
  text-shadow: -2px 2px 3px rgba(32, 32, 32, 0.1);
  color: var(--home-text);
}

.section-about img {
  width: 128px;
  height: auto;
}

.section-projects .project-buttons {
  margin-bottom: 50px;
}
.section-projects .project-cards a.btn {
  margin-right: 0;
}
.section-projects .project-cards a.btn, .section-projects .project-cards a.btn:focus, .touch-mode .section-projects .project-cards a.btn:hover {
  color: var(--project-button);
  border-color: var(--project-button);
}
.mouse-mode .section-projects .project-cards a.btn:hover {
  background-color: var(--project-button);
  color: var(--project-card-bg);
}
.section-projects .project-card-outline {
  border-radius: 22px;
  padding: 2px;
  margin: 10px;
}
.section-projects .project-card {
  background-color: var(--project-card-bg);
  border-radius: 20px;
  padding: 20px;
}
.section-projects .project-card .timespan {
  font-weight: normal;
}

.section-contact {
  padding: 50px 50px 20px 50px;
  background-color: var(--head-foot-bg);
  color: var(--head-foot-text);
}
.section-contact h1 {
  color: var(--head-foot-text);
}
.section-contact table {
  width: auto;
}
.section-contact table td.icon {
  padding-left: 16px;
  padding-right: 16px;
}
.section-contact .email-icon {
  height: 16px;
  width: auto;
}
.section-contact p.socials, .section-contact .copyright {
  margin-top: 50px;
}
.section-contact .social-icon {
  height: 32px;
  width: auto;
}
.section-contact .copyright {
  font-size: 14px;
}

.section-header {
  margin-bottom: 50px;
}
.section-header hr {
  margin-top: 5px;
  max-width: 50px;
  height: 1px;
  background-color: var(--hr);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--header);
}

a, a:focus, .touch-mode a:hover {
  color: var(--link);
  text-decoration: none;
}

.mouse-mode a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

.btn, .btn:focus, .touch-mode .btn:hover {
  border-radius: 10px;
  min-height: 40px;
  min-width: 64px;
  margin-left: 10px;
  margin-right: 10px;
}

.mouse-mode .btn:hover {
  cursor: pointer;
}

div.btn, div.btn:focus, .touch-mode div.btn:hover {
  color: var(--button);
  border-color: var(--button);
}

.mouse-mode div.btn:hover, div.btn.selected {
  color: var(--button-hover-text);
  border-style: hidden;
}

div.btn.selected {
  pointer-events: none;
}

.touch-mode div.btn.selected {
  color: var(--button-hover-text);
}

.theme-selector {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.theme-selector input {
  display: none;
}
.theme-selector label, .theme-selector label:focus, .touch-mode .theme-selector label:hover {
  font-size: 24px;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  border: solid;
  border-width: thin;
  border-color: var(--toggle-bg);
  border-radius: 20px;
  background: transparent;
  opacity: 0.65;
  cursor: pointer;
}
.mouse-mode .theme-selector label:hover {
  background-color: var(--toggle-bg);
  opacity: 1;
}
.theme-selector label::before {
  content: "🌙";
}
.theme-selector :checked + label::before {
  content: "🌤";
}

.fill-width {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
